<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sudoku application Test Suite" annotations="1.5">
    <test name="Unit tests" enabled="true">
        <classes>
            <class name="de.hindenbug.sudoku.solving.TestSolver"/>
            <class name="de.hindenbug.sudoku.model.TestSudoku"/>
            <class name="de.hindenbug.sudoku.model.TestField"/>
        </classes>
    </test>
</suite>
